* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/**
* Navbar Css
*/
header {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
    height: 85px;
    display: flex;
    place-content: center;
    background-color: rgb(251 123 79 / 35%);
}
#header-box {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navabar {
    display: flex;
    width: 50%;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}
.logo img {
    width: 40%;
}
ul li > a {
    color: #222;
    font-size: 17px;
}
/*
* Food Network CSS
*/
#food-network {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 550px;
    background-color: #ffffff;
    align-items: center;
}

.food-network-item1 {
    width: 40%;
}

.food-network-item2 {
    width: 40%;
    text-align: center;
}

.food-network-item2 img {
    width: 77%;
}

h1.heading {
    color: #575757;
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: -0.02em;
    font-family: 'Montserrat', sans-serif;
}
.heading span {
    color: #FBA24F;
}
.btn {
    color: #FFFFFF;
    padding: 11px 25px;
    font-size: 12px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
    display: inline-block;
}
.food-network-item1 p {
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: -0.02em;
    color: #828282;
    margin: 0px 0px 30px;
}

/**
* About Me CSS
*/
#about-me {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: url(images/about-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}


.about-me-item1 {
    width: 40%;
}

.about-me-item1 img {
    width: 50%;
}

.about-me-item2 {
    width: 40%;
}
.about-me-item2 p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #18191F;
    margin: 20px 0px 49px;
    text-align: left;
}

/**
* Recipies section 
*/
#recipies-sec {
    padding: 0px 0px 30px;
}
.recipie {
    width: 25%;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-right: 25px;
}
#recipies-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
}
#recipies-heading h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: bold;
}
#recipies-heading p {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: #252525;
    margin: 15px 0px 0px;
}
.recipies-items {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.recipie-item-title {
    font-size: 28px;
    line-height: 40px;
    color: #18191f;
    padding: 10px 0px;
}
.recipie p {
    font-size: 18px;
    color: #18191f;
    line-height: 32px;
    padding: 10px 0px 19px;
}
.recipies-items img {
    width: 100%;
}
.recipies-items img {
    width: 100%;
}
/**
* Our success Box css
*/
#our-success {
    height: 300px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#success-box h1 {
    color: #18191f;
    font-size: 48px;
    line-height: 64px;
}
#success-box p {
    color: #18191f;
    font-size: 16px;
    line-height: 26px;
}
#success-box {
    background: #ffffff;
    width: 85%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
/**
* Oder table css
*/
#order-table {
    height: 300px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%),url(images/book-bg.jpg);background-position: center; background-repeat: no-repeat; background-size: cover;
}
#order-table-box {
    background: linear-gradient(to right, rgb(255 255 255 / 80%) 16%, rgb(248 243 243 / 60%) 30%, rgb(91 91 91 / 30%));
    width: 85%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.order-box {
    flex-basis: 100%;
    text-align: center;
}
#order-table-box input, select {
    width: 60%;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #222;
    background-color: transparent;
    color: #000;
}
input[type="submit"]:hover {
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    border: none;
    cursor: pointer;
    color: #000;
}
input::placeholder {
    color: #000;
}
/**
* Footer section css
*/
footer {
    background: #0B0D17;
    height: 150px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h3.footer-title {
    font-size: 30px;
    color: #5b5b5b;
    line-height: 41px;
}
footer span {
    background: #FBA24F;
    background: -webkit-linear-gradient(to right, #FBA24F 0%, #FF1E1E 100%);
    background: -moz-linear-gradient(to right, #FBA24F 0%, #FF1E1E 100%);
    background: linear-gradient(to right, #FBA24F 0%, #FF1E1E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer p {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 10px 0px;
}